.header {
  transition: top 0.2s;
  padding: 2em 6.6em;
  border: 1px solid $text-secondary;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: 0px 1px 14px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 0.65);
  font-weight: $font-regular;
  @media screen and (max-width: 570px) {
    padding: 1em;
  }
  .header-left {
    padding: 0;
    max-width: 151px;
  }
  .header-middle {
    .header-middle__form-search {
      border: 1px solid $text-secondary;
      padding: 0.6em 1.1em 0.4em 1.1em;
      border-radius: 6px;
      box-shadow: 0.2px 0 $text-secondary;
      background-color: white;

      .search-input {
        width: 100%;
        &::placeholder {
          font-family: $font-face;
          font-weight: $font-thin;
          color: $text-secondary;
        }
      }
    }
  }

  .header-right {
    vertical-align: center;
    ul.menu {
      margin: 0;
      li {
        display: inline-block;
        margin: 0 1em;
      }

      .menu__create-blog {
        margin-right: 3.53em;
      }
      .menu__top {
        border: none;
        background-color: transparent;
        font-weight: 500;
      }
      .menu__top--toppage {
        color: white;
        background-color: #770303;
        padding: 4.6px 12px;
        border-radius: 4px;
        text-align: center;
        line-height: 21.72px;
        font-size: 15px;
        border: 1px solid #770303;
      }
    }
  }
}
