.list-blog {
  width: 100%;
  margin: 0 auto;
  margin-top: 72px;
  padding: 0 6.8em;
  .list-blog__blog-post {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2em;
    row-gap: 4.6em;
    margin: 2.5em auto;
    .post {
      background: #ffffff;
      border: 1px solid #cccccc;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .post__post-item-text {
      padding: 1.5em 1.1em;
      color: #211e3b;
      .post__post-item-author-row {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: #211e3b;
      }

      .post__post-item-author-row * {
        display: flex;
        align-items: center;
        margin-right: 8px;
        font-size: 15px;
      }

      .post__post-item__title {
        font-weight: 900;
        font-size: 18px;
        margin: 15px 0;
        color: #211e3b;
      }

      .post__post-item__describe {
        font-size: 15px;
      }

      .post__post-item__read-more {
        padding: 10px 26px;
        border: 1px solid #e4e4e4;
        color: #c40000;
        background-color: #ffffff;
        font-size: 14px;
        font-weight: 400;
        border-radius: 4px;
        margin-top: 29px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
      }

      .post__post-item__read-more:hover {
        background-color: #c40000;
        color: white;
      }

      .post__post-item__read-more img {
        margin-top: 3px;
      }
    }
  }
  .list-blog__title-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .list-blog__title-row__title {
      font-size: 3.2em;
      font-weight: bolder;
      line-height: 72.4px;
    }

    .list-blog__title-row__categories {
      padding: 6px 10px;
      max-width: 144px;
      height: auto;
      border-radius: 4px;
      border: 1px solid #dedede;
    }
  }
}

@include responsive(sm) {
  .list-blog {
    padding: 0 2em;
    .list-blog__title-row__title {
      font-size: 1.8em !important;
    }
    .list-blog__blog-post {
      display: flex;
      flex-direction: column;
      gap: 70px;
      margin: 0.9em auto;
    }
  }
}
