@mixin responsiveDisplay($breakpoint, $gap, $display, $gridFrame) {
  @if ($breakpoint == lg) {
    @media screen and (max-width: 2000px) {
      display: grid;
      grid-template-columns: $gridFrame;
      gap: $gap;
    }
  } @else if($breakpoint == sm) {
    @media screen and (max-width: 480px) {
      @if ($display == flex) {
        display: flex;
        flex-direction: column;
      } @else {
        display: grid;
        grid-template-columns: $gridFrame;
      }
    }
  }
}

@mixin responsive($breakpoint) {
  @if ($breakpoint == sm) {
    @media only screen and (max-width: 480px) {
      @content;
    }
  } @else if ($breakpoint == lg) {
    @media screen and (max-width: 1025px) {
      @content;
    }
  } @else if ($breakpoint == xl) {
    @media screen and (max-width: 2000px) {
      @content;
    }
  }
}
