$font-face: "Noto Sans JP";
$font-thin: 400;
$font-regular: 500;
$font-bold: 700;
$font-bolder: 900;

$text-primary: #c40000;
$text-secondary: #d4d4d4;
$text-success: #28a745;
$text-danger: #dc3545;
$text-waring: #ffc107;
$text-info: #17a2b8;
